<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Order</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'eCommerce/css/admin.css'%}">
  </head>
  <body>
    <div class="header">
      <h1>Dashboard</h1>
      <h2>Orders</h2>
      <h2>Products</h2>
      <h2 class="logoff">Log off</h2>
    </div>
    <div class="address">

    </div>
    <div class="main">
      <table>
        <td>ID</td>
        <td>Item</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Total</td>
      </table>
      <div class="status">
        Status: shipped
      </div>
      <div class="total">
        <p>Sub total:</p>
        <p>Shipping:</p>
        <p>Total Price:</p>
      </div>
    </div>
  </body>
</html>
