<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard Orders</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'eCommerce/css/admin.css'%}">
  </head>
  <body>
    <div class="header">
      <h1>Dashboard</h1>
      <h2>Orders</h2>
      <h2><a href='/admin/products'>Products</a></h2>
      <h2 class="logoff">Log off</h2>
    </div>
    <div class="search">
      <h1> <input type="search" name="ordername" placeholder="search"> </h1>
      <select name="status" class="rightbutton">
        <option value="all">Show All</option>
        <option value="process">Order in process</option>
        <option value="shipped">Shipped</option>
        <option value="canceled">Canceled</option>
      </select>
    </div>
    <table class="maintable">
      <tr>
        <td>Order ID</td>
        <td>Name</td>
        <td>Date</td>
        <td>Billing Address</td>
        <td>Total</td>
        <td>Order Status</td>
      </tr>
      {% for each in order %}
        <tr>
          <td><a href='/admin/orderdetail/{{each.id}}'>{{each.id}}</a></td>
          <td>{{each.customer.first_name}} {{each.customer.last_name}}</td>
          <td>{{each.date}}</td>
          <td>{{each.customer.address}}</td>
          <td>{{each.subtotal}}</td>
          <td>{{each.status}}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
