<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Payment Test</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'eCommerce/css/payment.css'%}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
      var elements = stripe.elements();
      $(document).ready(function(){

        // Custom styling can be passed to options when creating an Element.
        var style = {
          base: {
            color: '#578da7',
            lineHeight: '18px',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
              color: '#aab7c4'
            }
          },
          invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
          }
        };
        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});
        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        card.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            displayError.textContent = event.error.message;
          } else {
            displayError.textContent = '';
          }
        });

        // Create a token or display an error when the form is submitted.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
          event.preventDefault();

          stripe.createToken(card).then(function(result) {
            if (result.error) {
              // Inform the customer that there was an error.
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
              // Send the token to your server.
              stripeTokenHandler(result.token);
            }
          });
        });


        function stripeTokenHandler(token) {
          // Insert the token ID into the form so it gets submitted to the server
          var form = document.getElementById('payment-form');
          var hiddenInput = document.createElement('input');
          hiddenInput.setAttribute('type', 'hidden');
          hiddenInput.setAttribute('name', 'stripeToken');
          hiddenInput.setAttribute('value', token.id);
          form.appendChild(hiddenInput);

          // Submit the form
          form.submit();
        }



      });

    </script>
  </head>
  <body id="myFrame">
    <form action="/charge" method="post" id="payment-form">
      {% csrf_token %}
      <fieldset>
        <legend>Shipping Address</legend>
        <div class="row first">
          <div class="field">
            <label for="fullname">Full Name</label>
            <input type="text" name="fullname" class="input" placeholder="Peng Wei">
          </div>
        </div>
        <div class="row">
          <div class="field">
            <label for="address">Address</label>
            <input type="text" name="address" class="input" placeholder="175 E Olive Ave">
          </div>
        </div>
        <div class="row">
          <div class="field">
            <label for="city">City</label>
            <input type="text" name="city" class="input" placeholder="Burbank">
          </div>
          <div class="field">
            <label for="state">State</label>
            <input type="text" name="state" class="input" placeholder="CA">
          </div>
          <div class="field">
            <label for="zipcode">Zip Code</label>
            <input type="text" name="zipcode" class="input" placeholder="91502">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Pay with Card</legend>
        <div id="subtitle">Billing Address Needed</div>
        <div class="row first">
          <div class="field">
            <label for="fullname">Full Name</label>
            <input type="text" name="bfullname" class="input" placeholder="Peng Wei">
          </div>
        </div>
        <div class="row">
          <div class="field">
            <label for="address">Address</label>
            <input type="text" name="baddress" class="input" placeholder="175 E Olive Ave">
          </div>
        </div>
        <div class="row">
          <div class="field">
            <label for="city">City</label>
            <input type="text" name="bcity" class="input" placeholder="Burbank">
          </div>
          <div class="field">
            <label for="state">State</label>
            <input type="text" name="bstate" class="input" placeholder="CA">
          </div>
          <div class="field">
            <label for="zipcode">Zip Code</label>
            <input type="text" name="bzipcode" class="input" placeholder="91502">
          </div>
        </div>
        <div class="row">
          <div class="field">
            <div id="card-element" class='StripeElement'></div>
            <div id="card-errors" role="alert"></div>
          </div>
        </div>
        <button>Pay $100</button>
      </fieldset>
      <fieldset>
        <legend>Use these Card to Pay</legend>
        {%for card in cards%}
        <div class="row first">
          <div class="field">
            <div class="card">
              {%if card.brand == 'Visa'%}
              <img src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_2.gif" width="25px" height="auto" border="0" /></a>
              {%elif card.brand == 'MasterCard'%}
              <img src="http://www.credit-card-logos.com/images/mastercard_credit-card-logos/mastercard_logo_4.gif" width="25px" height="auto" border="0" /></a>
              {%elif card.brand == 'American Express'%}
              <img src="http://www.credit-card-logos.com/images/american_express_credit-card-logos/american_express_logo_9.gif" width="25px" height="auto" border="0" /></a>
              {%elif card.brand == 'Discover'%}
              <img src="http://www.credit-card-logos.com/images/discover_credit-card-logos/discover_network1.jpg"  width="25px" height="auto" border="0" /></a>
              {%else%}
              {{card.brand}}
              {%endif%}
               XXXXXXXXXXXX{{card.last4}}
               {%if card.exp_month < 10%}
                0{{card.exp_month}}
               {%else%}
                {{card.exp_month}}
               {%endif%}
               /{{card.exp_year}}
            </div>
          </div>
        </div>
        {%endfor%}
      </fieldset>

    </form>
  </body>
</html>
